n8n_workflows/My workflow (3).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get AI reply from Extract Reply node\nconst item = $items('Extract Reply')[0].json;\nconst aiReply = item.aiReply;\n\n// Get context from Build LLM Messages1\nconst ctx = $items('Build LLM Messages')[0].json;\n\n// Previous conversation context\nlet recent = ctx.prevRecent || [];\nconst userMsg = ctx.userMessage;\n\n// Append new turn\nrecent.push({ role: 'user', content: userMsg });\nrecent.push({ role: 'assistant', content: aiReply });\n\n// Keep only last 3\nconst newRecent = recent.slice(-3);\n// Normalize summary: treat \"null\", null, undefined as null\nconst prevSummary = ctx.prevSummary;\nconst newSummary =\n  prevSummary === null ||\n  prevSummary === undefined ||\n  prevSummary === 'null'\n    ? null\n    : prevSummary;\n\nreturn {\n  json: {\n    phone: ctx.phone,\n    summary: newSummary,\n    recent_messages: newRecent,\n    aiReply,\n    prev_recent_len: (ctx.prevRecent || []).length\n  }\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        368
      ],
      "id": "b3e191af-a6d7-4ebc-9a01-b8bf44f31781",
      "name": "Update chat context1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_history (phone, summary, recent_messages, updated_at)\nVALUES ($1, $2, $3::jsonb, NOW())\nON CONFLICT (phone) DO UPDATE\nSET\n  summary        = EXCLUDED.summary,\n  recent_messages = EXCLUDED.recent_messages,\n  updated_at     = NOW();\n",
        "options": {
          "queryReplacement": "={{ $json.phone }}, {{ $json.summary }}, {{JSON.stringify($json.recent_messages || [])}}\n\n"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        384
      ],
      "id": "f9724e1a-2c93-4076-bfd2-034925d382b2",
      "name": "save chat history1",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $items('Update chat context1')[0].json.aiReply }) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1376,
        384
      ],
      "id": "b986c592-d602-4360-a439-d0dd76f1b65d",
      "name": "Return Reply1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"reply_text\": { \"type\": \"string\" },\n    \"action\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"type\": {\n          \"type\": \"string\",\n          \"enum\": [\"register\", \"unregister\", \"none\"],\n          \"description\": \"Action to perform: register for event, unregister from event, or none for chat only\"\n        },\n        \"event_id\": {\n          \"type\": [\"integer\", \"null\"],\n          \"description\": \"Event ID when registering/unregistering, null for chat\"\n        }\n      },\n      \"required\": [\"type\", \"event_id\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"reply_text\",\"action\"],\n  \"additionalProperties\": false\n}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -736,
        592
      ],
      "id": "4a5043b0-1fb4-4ad6-972b-7008143d6ed6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KiSSYToArySdfoIX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetches user's current event registrations with timing and location. Use when user asks 'what am I registered for', wants to see their schedule, or before registering to check time conflicts.",
        "operation": "executeQuery",
        "query": "SELECT\n  event_id,\n  event_name,\n  date,\n  time,\n  location,\n  gmaps_link,\n  registered_at\nFROM v_my_registrations\nWHERE phone = $1\nORDER BY date, time;\n",
        "options": {
          "queryReplacement": "={{$node[\"Build LLM Messages\"].json[\"phone\"]}}\n"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -352,
        784
      ],
      "id": "dc0d1aa6-0456-4c22-a777-301e4908ddd8",
      "name": "get_my_registrations",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetches all food counter locations with sponsor info and hours. Use when user asks about food, meals, cafeteria, dining, or where to eat.",
        "operation": "executeQuery",
        "query": "SELECT \n  id,\n  name,\n  location,\n  sponsor_name,\n  hours\nFROM v_food_public\nORDER BY name;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        256,
        784
      ],
      "id": "af5650fc-daa3-47f9-a655-837d34036677",
      "name": "get_food_locations",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Registers the user for a specific event by event_id. Returns success=true or error codes (EVENT_FULL, ALREADY_REGISTERED, EVENT_NOT_FOUND, INVALID_PHONE). Always confirm with user before calling. Check for time conflicts using get_my_registrations first.\n\nNever ask the user for the numeric event ID.\nUse other tools to get IDs\nAlways resolve from event name/time + prior tool output.\nInput: event_id (integer) - The ID of the event to register for.",
        "operation": "executeQuery",
        "query": "SELECT register_for_event($1, $2) AS result;\n",
        "options": {
          "queryReplacement": "={{ [$node[\"Build LLM Messages\"].json[\"phone\"], $fromAI('event_id', 'The numeric ID of the event to register for', 'number')] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -512,
        784
      ],
      "id": "109b5f5e-3461-4fc0-a981-a66eca6bad7d",
      "name": "register_for_event",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Cancels user's registration for an event by event_id. Returns success=true or error codes (TOO_LATE_TO_CANCEL if within 10 minutes of start, NOT_REGISTERED if not registered, EVENT_NOT_FOUND).Requires event_id.\nNever ask the user for the numeric event ID.\nUse other tools to get events.\nAlways resolve from event name/time + prior tool output.",
        "operation": "executeQuery",
        "query": "SELECT unregister_from_event($1, $2) AS result;\n",
        "options": {
          "queryReplacement": "={{ [$node[\"Build LLM Messages\"].json[\"phone\"], $fromAI('event_id', 'The numeric ID of the event to unregister for', 'number')] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -672,
        784
      ],
      "id": "2075455a-98c8-42cb-aa41-69cff20eecb4",
      "name": "unregister_from_event",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetches user's profile including hotel info and coordinator details. Use when user asks 'where am I staying' or 'who is my coordinator.'\nRequires a parameter: phone (the authenticated user's phone number, in +[country code][number] format).",
        "operation": "executeQuery",
        "query": "SELECT \n  name,\n  hotel_name,\n  hotel_room,\n  hotel_gmaps_link,\n  coordinator_name,\n  coordinator_phone\nFROM v_my_profile\nWHERE phone = $1;\n",
        "options": {
          "queryReplacement": "={{ $('Set Auth Context').item.json.authenticated_phone }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        112,
        784
      ],
      "id": "2d86d6f1-d6d5-4d61-8344-314f3d5a1fe6",
      "name": "get_my_profile",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// We are directly after the Postgres node.\n// So $json is the row returned by Load User & Chat.\n\nconst row = $json;\n\nconst phone        = row.phone;\nconst userText     = row.user_message;\nconst userName     = row.name;\nconst coordName    = row.coordinator_name;\nconst coordPhone   = row.coordinator_phone;\n\nconst prevSummary  = row.summary || null;\nconst prevRecent   = row.recent_messages || [];\n\nconst userContext = [];\n\n// Add user name if available\nif (userName) {\n  userContext.push(`User: ${userName}`);\n}\n\n// Add conversation summary\nif (prevSummary) {\n  userContext.push(`Conversation Summary: ${prevSummary}`);\n} else {\n  userContext.push(`Status: First-time conversation`);\n}\n\nconst contextString = userContext.join('\\n');\n\n// ============================================\n// BUILD PROMPT STRING FOR AI NODE\n// ============================================\nlet promptParts = [];\n\n// Add context\npromptParts.push(`CONTEXT:\\n${contextString}\\n`);\n\n// Add recent conversation history\nif (prevRecent && prevRecent.length > 0) {\n  promptParts.push('RECENT CONVERSATION:');\n  prevRecent.forEach(msg => {\n    const role = msg.role.toUpperCase();\n    promptParts.push(`${role}: ${msg.content}`);\n  });\n  promptParts.push('');  // Empty line before current message\n}\n\n// Add current user message\npromptParts.push(`USER: ${userText}`);\n\nconst prompt = promptParts.join('\\n');\nreturn {\n  json: {\n    phone,\n    userName,\n    coordName,\n    coordPhone,\n    prevSummary,\n    prevRecent,\n    text: userText,\n    prompt\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        368
      ],
      "id": "de59ecfd-6e14-4479-80ab-a62adf93f87e",
      "name": "Build LLM Messages"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Support both shapes:\n// 1) { output: \"{ \\\"reply_text\\\": ..., \\\"action\\\": {...} }\" }\n// 2) { reply_text: \"...\", action: {...} }\n\nlet outputObj;\n\n// Case 1: wrapper with \"output\"\nif ($json.output !== undefined) {\n  const raw = $json.output;\n  try {\n    outputObj = typeof raw === 'string' ? JSON.parse(raw) : raw;\n  } catch (e) {\n    throw new Error('Could not parse JSON from AI output.output: ' + raw);\n  }\n} else {\n  // Case 2: already structured\n  outputObj = $json;\n}\n\n// Basic validation\nif (!outputObj || typeof outputObj.reply_text !== 'string' || typeof outputObj.action !== 'object') {\n  throw new Error('AI output missing reply_text or action fields: ' + JSON.stringify(outputObj));\n}\n\nreturn {\n  json: {\n    aiReply: outputObj.reply_text,\n    action_type: outputObj.action.type || 'none',\n    event_id: outputObj.action.event_id ?? null\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        368
      ],
      "id": "a1d30b9b-04ec-44fe-bed8-66015884f93a",
      "name": "Extract Reply"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-local",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1600,
        368
      ],
      "id": "367cae04-15f4-4da6-ba04-53a33d66c875",
      "name": "Webhook",
      "webhookId": "78a4029f-cff8-44ab-a4f4-2a1662ac52e8"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Expecting request body like:\n// { \"phone\": \"+91...\", \"message\": \"text\" }\n\n// In webhook executions, n8n puts JSON under $json.body\n// but in the full wrapper you also see it under $json.params.body.\n// We'll support both to be safe.\n\nconst body = $json.body || ($json.params && $json.params.body) || $json;\n\nconst phone = body.phone;\nconst message = body.message;\n\nif (!phone || !message) {\n  throw new Error('Missing phone or message in request body');\n}\n\nreturn {\n  json: {\n    phone,\n    message\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        368
      ],
      "id": "51f7c216-7381-411b-875d-a875def7b169",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  '{{$json[\"phone\"]}}'::text  AS phone,\n  '{{$json[\"message\"]}}'::text AS user_message,\n  u.name,\n  u.coordinator_name,\n  u.coordinator_phone,\n  ch.summary,\n  ch.recent_messages\nFROM users u\nLEFT JOIN chat_history ch ON u.phone = ch.phone\nWHERE u.phone = '{{$json[\"phone\"]}}';\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -944,
        368
      ],
      "id": "5d937402-7411-4bef-997e-d324eda6f910",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetches ALL upcoming non-cancelled events (id, name, date, time, location, map link, description).\nUse this when the user asks to \"show all events\" or \"see the full lineup\".",
        "operation": "executeQuery",
        "query": "SELECT \n  id,\n  name,\n  date,\n  time,\n  location,\n  gmaps_link,\n  description\nFROM v_events_public\nORDER BY date, time;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -192,
        784
      ],
      "id": "5bc92e28-f97f-415e-a6fe-fd2d3013ed4a",
      "name": "tool_get_events",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Searches events by a keyword in name or description (e.g. ‘AI’, ‘startup’, ‘networking’). Use when the user mentions specific interests. if not keyword read event descriptions and suggest based on it. ",
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  name,\n  date,\n  time,\n  location,\n  gmaps_link,\n  description,\n  ts_rank(\n    to_tsvector('english', description || ' ' || name),\n    plainto_tsquery('english', $1)\n  ) AS relevance\nFROM v_events_public\nWHERE\n  to_tsvector('english', description || ' ' || name)\n  @@ plainto_tsquery('english', $1)\nORDER BY relevance DESC, date, time;\n",
        "options": {
          "queryReplacement": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_Parameters', `Single keyword or short phrase describing what kind of event the user is interested in (e.g. \"AI\", \"startup\", \"networking\").`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -32,
        784
      ],
      "id": "4f5b99d4-4a5c-4798-8a13-8ffc645819fb",
      "name": "tool_Search Events",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f6e126d-ee27-430e-80ec-9414c54638d6",
              "leftValue": "={{$json.prev_recent_len + 2}}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        368
      ],
      "id": "d3f1bfe8-c78e-4c14-919c-7dfe41e056c8",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "content": "=Previous conversation summary (null if first time):\n{{$json.summary}}\n\nRecent conversation turns:\n{{JSON.stringify($json.recent_messages)}}\n\n---\n\nTask: Create an updated conversation summary in 3-4 sentences.\n\nInclude ONLY:\n- Event interests or preferences they mentioned\n- Any interests, goals, wants mentioned by the user.\n- Specific constraints (budget, timing, accessibility needs)\n- Questions they asked that weren't fully answered\n\nExclude:\n- Generic greetings\n- Bot's responses (focus on what the USER said/wanted)\n- Temporary context (like \"user just asked...\")\n\nWrite as factual notes, not conversational. Example: \"User Rahul interested in AI and startup events. Registered for AI Summit on Nov 21. Asked about food locations near Hall B.\""
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {
          "instructions": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        560,
        192
      ],
      "id": "5cf42d37-d749-47be-9b39-8ded5d7c5c18",
      "name": "convo summarization.",
      "credentials": {
        "openAiApi": {
          "id": "KiSSYToArySdfoIX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the new summary from OpenAI response\nconst summaryText = $json.message?.content || $json.text || $json.choices?.[0]?.message?.content || '';\n\n// Get the original context data from Update chat context node\nconst base = $items('Update chat context1')[0].json;\n\nreturn {\n  json: {\n    phone: base.phone,\n    summary: summaryText.trim(),\n    // Keep only last 3 messages (1.5 turns) after rotation\n    recent_messages: (base.recent_messages || []).slice(-3)\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        192
      ],
      "id": "102912c0-6162-40af-88b9-cc039fe02878",
      "name": "apply new summary"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "998719d3-bcf1-40e5-8bbf-9740e920c84a",
              "name": "authenticated_phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        256
      ],
      "id": "c2ec49a2-91ca-4dd4-b143-4d1c4cb11f35",
      "name": "Set Auth Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.prompt}}",
        "options": {
          "systemMessage": "You are the JITO NYC Event Assistant, helping young entrepreneurs discover and register for 50+ events over 3 days.\n\n=== OUTPUT CONTRACT (MANDATORY) ===\n\nEvery response MUST be a single valid JSON object with this exact structure:\n\n{\n  \"reply_text\": \"your message to the user\",\n  \"action\": {\n    \"type\": \"none\",\n    \"event_id\": null\n  }\n}\n\nRules:\n- \"reply_text\": 2-4 sentences max (event lists can be longer). Friendly, warm tone with 1-2 emojis. No jargon.\n- \"action.type\": ONLY \"none\", \"register\", or \"unregister\". Default is \"none\".\n- \"action.event_id\": Integer event ID when type is register/unregister, otherwise null.\n- NO other keys, NO arrays, NO nested objects beyond this structure.\n- NO markdown, NO code blocks, NO explanations outside this JSON.\n\n=== TOOL DECISION LOGIC ===\n\nYou have 7 tools. Selection rules (follow in order):\n\n1. EVENT DISCOVERY QUERIES\n   Keywords: \"events\", \"show\", \"list\", \"what's happening\", \"schedule\", \"lineup\", \"browse\"\n   → Call: get_events\n   Returns: All active events with id, name, date, time, location, gmaps_link, description\n   When: User wants to SEE events (not search by topic yet)\n\n2. TOPIC/KEYWORD SEARCH\n   Keywords: \"AI\", \"startup\", \"networking\", \"workshop\" + \"events\"\n   Pattern: User mentions a SPECIFIC interest/topic\n   → Call: search_events with the keyword\n   Parameter: Extract the core interest word (e.g., \"AI\", \"blockchain\", \"marketing\")\n   When: User wants events ABOUT something specific\n\n3. MY REGISTRATIONS\n   Keywords: \"registered\", \"my events\", \"what am I signed up for\", \"my schedule\"\n   → Call: get_my_registrations\n   Returns: User's current registrations with conflicts visible\n   When: User asks about THEIR OWN registrations\n\n4. FOOD/DINING\n   Keywords: \"food\", \"eat\", \"cafeteria\", \"dining\", \"meal\", \"lunch\", \"snack\"\n   → Call: get_food_locations\n   Returns: Food counter locations with sponsors\n   When: User asks about FOOD ONLY. Never use for events.\n\n5. HOTEL/ROOM/COORDINATOR\n   Keywords: \"room\", \"hotel\", \"staying\", \"coordinator\", \"where am I\"\n   → Call: get_my_profile\n   Returns: User's hotel name, room number, coordinator contact\n   When: User asks about THEIR logistics/accommodation\n\n6. REGISTRATION ACTION\n   Trigger: User explicitly agrees to register for a named event\n   Process:\n   a) Identify event name from conversation history\n   b) Look up event_id from prior get_events or search_events output\n   c) Call register_for_event with that event_id\n   d) Interpret result JSON:\n      - success=true: Confirm with full details from response\n      - error_code=\"EVENT_FULL\": Apologize, suggest similar events\n      - error_code=\"ALREADY_REGISTERED\": Tell user they're already in\n      - error_code=\"EVENT_NOT_FOUND\": Call get_events again\n   Return: action.type = \"register\", action.event_id = <numeric ID>\n\n7. UNREGISTRATION ACTION\n   Trigger: User wants to cancel/unregister from an event\n   Process: Same as registration but call unregister_from_event\n   Handle:\n   - error_code=\"TOO_LATE_TO_CANCEL\": Explain 30min cutoff\n   - error_code=\"NOT_REGISTERED\": Confirm they're not registered\n   Return: action.type = \"unregister\", action.event_id = <numeric ID>\n\n=== CONVERSATION PHASES (STRICT PROGRESSION) ===\n\nPHASE 1: GREETING (First message only)\n- Welcome warmly in 1 sentence\n- State your purpose (help with events)\n- DO NOT ask questions yet\n- Wait for user response\n\nPHASE 2: DISCOVERY (Next 3-5 turns OR until user asks for events)\nGoal: Understand their context before recommending\nAsk about (one question per turn):\n- What they do / their interests (beyond keywords)\n- Their current stage (exploring ideas / building / scaling)\n- What they hope to gain from NYC\n- Past event experiences or challenges\n\nRules:\n- Ask OPEN questions tied to their last answer\n- DO NOT recommend events until you've asked 3+ discovery questions\n- If user says \"just show me events\", respect that and call get_events\n\nRED FLAGS (stop and ask more):\n- User mentioned one keyword, you're already recommending\n- You don't know their stage/goals yet\n- You're pattern-matching keywords instead of understanding\n\nPHASE 3: EVENT PRESENTATION\nWhen triggered:\n- User asks for \"all events\" / \"event list\" / \"show events\"\n- OR you've completed discovery and want to suggest\n\nActions:\n1. Call get_events (for browsing) OR search_events (if specific topic known)\n2. Format response as bullet list:\n   **Event Name** — Date at Time — Location — One-line hook from description\n3. Keep list scannable (max 2 lines per event)\n4. After list, ask: \"Which of these resonate with your goals?\"\n\nPHASE 4: REGISTRATION FLOW\nTrigger: User indicates interest in specific event(s)\n\nPre-registration checks:\n1. Call get_my_registrations to check schedule conflicts\n2. Confirm event name + time with user\n3. Get explicit confirmation (\"yes register me\" / \"sign me up\")\n\nRegistration:\n1. Extract event_id from prior tool output (get_events/search_events)\n2. Call register_for_event(event_id)\n3. On success: Share full details (location map, food counter, sponsor)\n4. On error: Handle gracefully per tool decision logic above\n\nUnregistration:\n1. Call get_my_registrations first to show what they're in\n2. Identify which event to cancel\n3. Call unregister_from_event(event_id)\n4. Confirm cancellation or explain error\n\n=== CRITICAL RULES ===\n\n1. NEVER invent event names, dates, or IDs. Only use data from tools.\n2. NEVER ask user for event IDs. You look them up from tool responses.\n3. NEVER show raw event IDs in reply_text. Use event names.\n4. ALWAYS check get_my_registrations before registering to catch conflicts.\n5. Phone number is in context as \"Authenticated User Phone: +91...\" — you never need to ask for it.\n6. Tools auto-use this phone; don't pass it manually.\n7. Keep reply_text concise. Long lists are OK, but prose should be brief.\n8. If query is off-topic (not events/food/hotel): \"I'm here for event help only!\"\n9. Vary your language. Don't repeat \"Great!\" or \"Let me...\" every message.\n\n=== TOOL OUTPUT INTERPRETATION ===\n\nget_events / search_events return:\n- id (integer) ← STORE THIS for registration\n- name, date, time, location, gmaps_link, description\n\nregister_for_event returns JSON:\n{\n  \"success\": true/false,\n  \"error_code\": \"EVENT_FULL\" | \"ALREADY_REGISTERED\" | \"EVENT_NOT_FOUND\" | null,\n  \"event_name\": \"...\",\n  \"location\": \"...\",\n  \"gmaps_link\": \"...\",\n  \"date\": \"...\",\n  \"time\": \"...\",\n  \"food_name\": \"...\",\n  \"food_location\": \"...\",\n  \"sponsor\": \"...\"\n}\n\nOn success=true, include food + sponsor in your reply_text.\nOn error, explain the error_code to user in plain language.\n\nunregister_from_event returns JSON:\n{\n  \"success\": true/false,\n  \"error_code\": \"TOO_LATE_TO_CANCEL\" | \"NOT_REGISTERED\" | \"EVENT_NOT_FOUND\" | null,\n  \"event_name\": \"...\",\n  \"cutoff_minutes\": 30,\n  \"minutes_until_start\": <number>\n}\n\nget_my_profile returns:\n- name, hotel_name, hotel_room, hotel_gmaps_link, coordinator_name, coordinator_phone\nIf hotel_name is null: \"You're a local resident—no hotel assigned.\"\n\nget_food_locations returns list of counters with sponsor_name and hours.\n\n=== ERROR HANDLING ===\n\nIf a tool returns no results:\n- get_events → \"No upcoming events found. Check back soon!\"\n- search_events → \"No events match that topic. Want to see all events?\"\n- get_my_registrations → \"You're not registered for any events yet.\"\n- get_my_profile → \"I don't have your profile details.\"\n\nIf user query is ambiguous:\n- Ask ONE clarifying question\n- Suggest likely interpretation: \"Did you mean [X] or [Y]?\"\n\nIf you're unsure which tool to call:\n- Default to get_events for event-related queries\n- Default to \"none\" action if just chatting\n\n=== FINAL CHECKLIST BEFORE RESPONDING ===\n\n1. Is my JSON valid? (No trailing commas, proper quotes, correct types)\n2. Is reply_text friendly, concise, and helpful?\n3. Did I use the right tool for this query?\n4. Did I check for conflicts before registering?\n5. Did I interpret tool errors correctly?\n6. Is action.type correct? (\"none\" unless explicit register/unregister)\n7. Is event_id an integer (not string, not null when registering)?\n\nReturn ONLY the JSON object. No other text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -448,
        368
      ],
      "id": "eb9b4b2e-873f-4396-832d-ffa3592e1bdc",
      "name": "AI Agent"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.14.1",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "40"
          },
          "params": {},
          "query": {},
          "body": {
            "phone": "+919876543299",
            "message": "hi"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/chat-local",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Update chat context1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save chat history1": {
      "main": [
        [
          {
            "node": "Return Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get_my_registrations": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_food_locations": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "register_for_event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "unregister_from_event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_my_profile": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Messages": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reply": {
      "main": [
        [
          {
            "node": "Update chat context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Set Auth Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Build LLM Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tool_get_events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_Search Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "convo summarization.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "save chat history1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convo summarization.": {
      "main": [
        [
          {
            "node": "apply new summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "apply new summary": {
      "main": [
        [
          {
            "node": "save chat history1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Auth Context": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bdd0bb54-21d8-4ff1-8ba5-4eb16d1903cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10f6bb66100ccce88208db5bfd19802bb4a04fad8e29b443afb77e31616a7475"
  },
  "id": "7LH6w2TjQBIFYcCE",
  "tags": []
}