n8n_workflows/n8n workflowsz.json
{
  "name": "Daily Hype Message Generator",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get AI reply from Extract Reply node\nconst item = $items('Extract Reply')[0].json;\nconst aiReply = item.aiReply;\n\n// Get context from Build LLM Messages1\nconst ctx = $items('Build LLM Messages')[0].json;\n\n// Previous conversation context\nlet recent = ctx.prevRecent || [];\nconst userMsg = ctx.userMessage;\n\n// Append new turn\nrecent.push({ role: 'user', content: userMsg });\nrecent.push({ role: 'assistant', content: aiReply });\n\n// Keep only last 3\nconst newRecent = recent.slice(-3);\n// Normalize summary: treat \"null\", null, undefined as null\nconst prevSummary = ctx.prevSummary;\nconst newSummary =\n  prevSummary === null ||\n  prevSummary === undefined ||\n  prevSummary === 'null'\n    ? null\n    : prevSummary;\n\nreturn {\n  json: {\n    phone: ctx.phone,\n    summary: newSummary,\n    recent_messages: newRecent,\n    aiReply,\n    prev_recent_len: (ctx.prevRecent || []).length\n  }\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        560
      ],
      "id": "b3e191af-a6d7-4ebc-9a01-b8bf44f31781",
      "name": "Update chat context1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_history (phone, summary, recent_messages, updated_at)\nVALUES ($1, $2, $3::jsonb, NOW())\nON CONFLICT (phone) DO UPDATE\nSET\n  summary        = EXCLUDED.summary,\n  recent_messages = EXCLUDED.recent_messages,\n  updated_at     = NOW();\n",
        "options": {
          "queryReplacement": "={{ $json.phone }}, {{ $json.summary }}, {{JSON.stringify($json.recent_messages || [])}}\n\n"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        576
      ],
      "id": "f9724e1a-2c93-4076-bfd2-034925d382b2",
      "name": "save chat history1",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"reply_text\": { \"type\": \"string\" },\n    \"action\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"type\": {\n          \"type\": \"string\",\n          \"enum\": [\"register\", \"unregister\", \"none\"],\n          \"description\": \"Action to perform: register for event, unregister from event, or none for chat only\"\n        },\n        \"event_id\": {\n          \"type\": [\"integer\", \"null\"],\n          \"description\": \"Event ID when registering/unregistering, null for chat\"\n        }\n      },\n      \"required\": [\"type\", \"event_id\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"reply_text\",\"action\"],\n  \"additionalProperties\": false\n}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -736,
        592
      ],
      "id": "4a5043b0-1fb4-4ad6-972b-7008143d6ed6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KiSSYToArySdfoIX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetches user's current event registrations with timing and location. Use when user asks 'what am I registered for', wants to see their schedule, or before registering to check time conflicts.",
        "operation": "executeQuery",
        "query": "SELECT\n  event_id,\n  event_name,\n  date,\n  time,\n  location,\n  gmaps_link,\n  registered_at\nFROM v_my_registrations\nWHERE phone = $1\nORDER BY date, time;\n",
        "options": {
          "queryReplacement": "={{ [$('Set Auth Context').item.json.authenticated_phone] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -352,
        784
      ],
      "id": "dc0d1aa6-0456-4c22-a777-301e4908ddd8",
      "name": "get_my_registrations",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetches all food counter locations with sponsor info and hours. Use when user asks about food, meals, cafeteria, dining, or where to eat.",
        "operation": "executeQuery",
        "query": "SELECT \n  id,\n  name,\n  location,\n  sponsor_name,\n  hours\nFROM v_food_public\nORDER BY name;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        256,
        784
      ],
      "id": "af5650fc-daa3-47f9-a655-837d34036677",
      "name": "get_food_locations",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Cancels user's registration for an event by event_id. Returns success=true or error codes (TOO_LATE_TO_CANCEL if within 10 minutes of start, NOT_REGISTERED if not registered, EVENT_NOT_FOUND).Requires event_id.\nNever ask the user for the numeric event ID.\nUse other tools to get events.\nAlways resolve from event name/time + prior tool output.",
        "operation": "executeQuery",
        "query": "SELECT unregister_from_event($1, $2) AS result;\n",
        "options": {
          "queryReplacement": "={{ [$('Set Auth Context').item.json.authenticated_phone, $fromAI('event_id', 'The numeric ID of the event to unregister for', 'number')] }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -544,
        784
      ],
      "id": "2075455a-98c8-42cb-aa41-69cff20eecb4",
      "name": "unregister_from_event",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetches user's profile including hotel info and coordinator details. Use when user asks 'where am I staying' or 'who is my coordinator.'\nRequires a parameter: phone (the authenticated user's phone number, in +[country code][number] format).",
        "operation": "executeQuery",
        "query": "SELECT \n  name,\n  hotel_name,\n  hotel_room,\n  hotel_gmaps_link,\n  coordinator_name,\n  coordinator_phone\nFROM v_my_profile\nWHERE phone = $1;\n",
        "options": {
          "queryReplacement": "={{ $('Set Auth Context').item.json.authenticated_phone }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        112,
        784
      ],
      "id": "2d86d6f1-d6d5-4d61-8344-314f3d5a1fe6",
      "name": "get_my_profile",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// We are directly after the Postgres node.\n// So $json is the row returned by Load User & Chat.\n\nconst row = $json;\n\nconst phone        = row.phone;\nconst userText     = row.user_message;\nconst userName     = row.name;\nconst coordName    = row.coordinator_name;\nconst coordPhone   = row.coordinator_phone;\n\nconst prevSummary  = row.summary || null;\nconst prevRecent   = row.recent_messages || [];\n\nconst userContext = [];\n\n// Add user name if available\nif (userName) {\n  userContext.push(`User: ${userName}`);\n}\n\n// Add conversation summary\nif (prevSummary) {\n  userContext.push(`Conversation Summary: ${prevSummary}`);\n} else {\n  userContext.push(`Status: First-time conversation`);\n}\n\nconst contextString = userContext.join('\\n');\n\n// ============================================\n// BUILD PROMPT STRING FOR AI NODE\n// ============================================\nlet promptParts = [];\n\n// Add context\npromptParts.push(`CONTEXT:\\n${contextString}\\n`);\n\n// Add recent conversation history\nif (prevRecent && prevRecent.length > 0) {\n  promptParts.push('RECENT CONVERSATION:');\n  prevRecent.forEach(msg => {\n    const role = msg.role.toUpperCase();\n    promptParts.push(`${role}: ${msg.content}`);\n  });\n  promptParts.push('');  // Empty line before current message\n}\n\n// Add current user message\npromptParts.push(`USER: ${userText}`);\n\nconst prompt = promptParts.join('\\n');\nreturn {\n  json: {\n    phone,\n    userName,\n    coordName,\n    coordPhone,\n    prevSummary,\n    prevRecent,\n    text: userText,\n    prompt\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        368
      ],
      "id": "de59ecfd-6e14-4479-80ab-a62adf93f87e",
      "name": "Build LLM Messages"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ============================================\n// ROBUST AI OUTPUT PARSER\n// Handles multiple output formats from n8n AI Agent:\n// 1. Wrapped: { output: \"{json string}\" }\n// 2. Direct: { reply_text: \"...\", action: {...} }\n// 3. Multiple responses: \"{json1}\\n{json2}\" (tool execution)\n// 4. Mixed types: string vs object\n// ============================================\n\nlet outputObj;\nlet rawOutput;\n\n// STEP 1: Extract raw output (handle wrapper or direct)\nif ($json.output !== undefined) {\n  rawOutput = $json.output; // Wrapped format\n} else if ($json.reply_text !== undefined) {\n  rawOutput = $json; // Already structured\n} else {\n  throw new Error(`Unexpected AI output format. Keys found: ${Object.keys($json).join(', ')}`);\n}\n\n// STEP 2: Parse if string (handle multiple JSON objects)\nif (typeof rawOutput === 'string') {\n  try {\n    // Split by newlines, filter empty, take last valid JSON\n    const lines = rawOutput\n      .trim()\n      .split('\\n')\n      .map(l => l.trim())\n      .filter(l => l.length > 0);\n    \n    if (lines.length === 0) {\n      throw new Error('Empty output string from AI');\n    }\n    \n    // Try parsing from last to first (most recent response wins)\n    let parsed = null;\n    let parseErrors = [];\n    \n    for (let i = lines.length - 1; i >= 0; i--) {\n      try {\n        parsed = JSON.parse(lines[i]);\n        if (parsed.reply_text && parsed.action) {\n          outputObj = parsed; // Valid structure found\n          break;\n        }\n      } catch (e) {\n        parseErrors.push(`Line ${i + 1}: ${e.message}`);\n      }\n    }\n    \n    if (!outputObj) {\n      throw new Error(\n        `No valid JSON found in ${lines.length} lines.\\n` +\n        `Parse errors: ${parseErrors.join('; ')}\\n` +\n        `Raw output: ${rawOutput.substring(0, 500)}`\n      );\n    }\n    \n  } catch (e) {\n    throw new Error(\n      `Failed to parse AI output string.\\n` +\n      `Error: ${e.message}\\n` +\n      `Raw (first 500 chars): ${rawOutput.substring(0, 500)}`\n    );\n  }\n} else if (typeof rawOutput === 'object' && rawOutput !== null) {\n  outputObj = rawOutput; // Already an object\n} else {\n  throw new Error(`AI output is neither string nor object. Type: ${typeof rawOutput}`);\n}\n\n// STEP 3: Validate required structure\nif (!outputObj || typeof outputObj !== 'object') {\n  throw new Error(`Parsed output is not an object: ${JSON.stringify(outputObj)}`);\n}\n\nif (typeof outputObj.reply_text !== 'string') {\n  throw new Error(\n    `Missing or invalid 'reply_text' field. ` +\n    `Expected string, got: ${typeof outputObj.reply_text}. ` +\n    `Full object: ${JSON.stringify(outputObj)}`\n  );\n}\n\nif (!outputObj.action || typeof outputObj.action !== 'object') {\n  throw new Error(\n    `Missing or invalid 'action' field. ` +\n    `Expected object, got: ${typeof outputObj.action}. ` +\n    `Full object: ${JSON.stringify(outputObj)}`\n  );\n}\n\n// STEP 4: Validate action structure\nconst validTypes = ['none', 'register', 'unregister'];\nconst actionType = outputObj.action.type || 'none';\n\nif (!validTypes.includes(actionType)) {\n  throw new Error(\n    `Invalid action.type: \"${actionType}\". ` +\n    `Must be one of: ${validTypes.join(', ')}`\n  );\n}\n\n// Warn if event_id is missing when type requires it\nif ((actionType === 'register' || actionType === 'unregister') && \n    outputObj.action.event_id == null) {\n  console.warn(\n    `⚠️ Action type \"${actionType}\" but event_id is null. ` +\n    `This may cause downstream errors.`\n  );\n}\n\n// STEP 5: Return normalized output\nreturn {\n  json: {\n    aiReply: outputObj.reply_text,\n    action_type: actionType,\n    event_id: outputObj.action.event_id ?? null,\n    \n    // Debug info (remove in production if not needed)\n    _debug: {\n      input_keys: Object.keys($json),\n      had_wrapper: $json.output !== undefined,\n      lines_parsed: typeof rawOutput === 'string' ? rawOutput.split('\\n').length : 1,\n      original_type: typeof rawOutput\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        368
      ],
      "id": "a1d30b9b-04ec-44fe-bed8-66015884f93a",
      "name": "Extract Reply"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Expecting request body like:\n// { \"phone\": \"+91...\", \"message\": \"text\" }\n\n// In webhook executions, n8n puts JSON under $json.body\n// but in the full wrapper you also see it under $json.params.body.\n// We'll support both to be safe.\n\nconst body = $json.body || ($json.params && $json.params.body) || $json;\n\nconst phone = body.phone;\nconst message = body.message;\n\nif (!phone || !message) {\n  throw new Error('Missing phone or message in request body');\n}\n\nreturn {\n  json: {\n    phone,\n    message\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        368
      ],
      "id": "51f7c216-7381-411b-875d-a875def7b169",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  '{{$json[\"phone\"]}}'::text  AS phone,\n  '{{$json[\"message\"]}}'::text AS user_message,\n  u.name,\n  u.coordinator_name,\n  u.coordinator_phone,\n  ch.summary,\n  ch.recent_messages\nFROM users u\nLEFT JOIN chat_history ch ON u.phone = ch.phone\nWHERE u.phone = '{{$json[\"phone\"]}}';\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1088,
        368
      ],
      "id": "5d937402-7411-4bef-997e-d324eda6f910",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetches ALL upcoming non-cancelled events (id, name, date, time, location, map link, description).\nUse this when the user asks to \"show all events\" or \"see the full lineup\".",
        "operation": "executeQuery",
        "query": "SELECT \n  id,\n  name,\n  date,\n  time,\n  location,\n  gmaps_link,\n  description\nFROM v_events_public\nORDER BY date, time;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -192,
        784
      ],
      "id": "5bc92e28-f97f-415e-a6fe-fd2d3013ed4a",
      "name": "tool_get_events",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Searches events by a keyword in name or description (e.g. ‘AI’, ‘startup’, ‘networking’). Use when the user mentions specific interests. if not keyword read event descriptions and suggest based on it. ",
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  name,\n  date,\n  time,\n  location,\n  gmaps_link,\n  description,\n  ts_rank(\n    to_tsvector('english', description || ' ' || name),\n    plainto_tsquery('english', $1)\n  ) AS relevance\nFROM v_events_public\nWHERE\n  to_tsvector('english', description || ' ' || name)\n  @@ plainto_tsquery('english', $1)\nORDER BY relevance DESC, date, time;\n",
        "options": {
          "queryReplacement": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_Parameters', `Single keyword or short phrase describing what kind of event the user is interested in (e.g. \"AI\", \"startup\", \"networking\").`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -32,
        784
      ],
      "id": "4f5b99d4-4a5c-4798-8a13-8ffc645819fb",
      "name": "tool_Search Events",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f6e126d-ee27-430e-80ec-9414c54638d6",
              "leftValue": "={{$json.prev_recent_len + 2}}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        560
      ],
      "id": "d3f1bfe8-c78e-4c14-919c-7dfe41e056c8",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "content": "=Previous conversation summary (null if first time):\n{{$json.summary}}\n\nRecent conversation turns:\n{{JSON.stringify($json.recent_messages)}}\n\n---\n\nTask: Create an updated conversation summary in 3-4 sentences.\n\nInclude ONLY:\n- Event interests or preferences they mentioned\n- Any interests, goals, wants mentioned by the user.\n- Specific constraints (budget, timing, accessibility needs)\n- Questions they asked that weren't fully answered\n\nExclude:\n- Generic greetings\n- Bot's responses (focus on what the USER said/wanted)\n- Temporary context (like \"user just asked...\")\n\nWrite as factual notes, not conversational. Example: \"User Rahul interested in AI and startup events. Registered for AI Summit on Nov 21. Asked about food locations near Hall B.\""
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {
          "instructions": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        992,
        432
      ],
      "id": "5cf42d37-d749-47be-9b39-8ded5d7c5c18",
      "name": "convo summarization.",
      "credentials": {
        "openAiApi": {
          "id": "KiSSYToArySdfoIX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the new summary from OpenAI response\nconst summaryText = $json.message?.content || $json.text || $json.choices?.[0]?.message?.content || '';\n\n// Get the original context data from Update chat context node\nconst base = $items('Update chat context1')[0].json;\n\nreturn {\n  json: {\n    phone: base.phone,\n    summary: summaryText.trim(),\n    // Keep only last 3 messages (1.5 turns) after rotation\n    recent_messages: (base.recent_messages || []).slice(-3)\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        432
      ],
      "id": "102912c0-6162-40af-88b9-cc039fe02878",
      "name": "apply new summary"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "998719d3-bcf1-40e5-8bbf-9740e920c84a",
              "name": "authenticated_phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "04a83aad-d71f-488d-bdf1-648c4e5daae1",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        368
      ],
      "id": "c2ec49a2-91ca-4dd4-b143-4d1c4cb11f35",
      "name": "Set Auth Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.prompt}}",
        "options": {
          "systemMessage": "# JITO NYC ASSISTANT — SYSTEM PROMPT\n\nYou are the JITO NYC (National Youth Conclave) Assistant, helping young minds navigate a 3-day youth event. You can help users figure out what to do, discover sessions, handle registrations, check their schedule, and answer logistics (food, hotel, coordinator).\n\n---\n\n## OUTPUT CONTRACT (MANDATORY)\n\nEvery response MUST be a single valid JSON object with this exact structure:\n\n{\n\"replytext\": \"your message to the user\",\n\"action\": {\n\"type\": \"none|register|unregister\",\n\"eventid\": integer or null\n}\n}\n\n**Rules:**\n- `replytext`: 2-5 sentences max (event lists can be longer). Gen Z tone, clean slang only, 0-2 emojis (only when they add meaning—not decoration). No profanity, no sexual slang, no insults. Mirror user tone if edgy but keep it clean.\n- `action.type`: ONLY `\"none\"`, `\"register\"`, or `\"unregister\"`. Default is `\"none\"`.\n- `action.eventid`: Integer event ID when type is `register`/`unregister`, otherwise `null`.\n- NO other keys, NO arrays, NO nested objects beyond this structure.\n- NO markdown formatting, NO code blocks, NO explanations outside this JSON.\n\n---\n\n## AVAILABLE TOOLS (7 total)\n\nCall tools to get data. Never fabricate event names, dates, times, capacity, or IDs.\n\n### 1. `tool_get_events`\n- **Returns:** All active events happening TODAY (date = CURRENT_DATE, time >= NOW) with id, name, date, time, location, gmapslink, description.\n- **When to call:** User asks \"what's happening\", \"show events\", \"what can I do\", or needs event discovery.\n- **Note:** You ONLY surface today's sessions. If user asks about past/future days, explain you show today's lineup only.\n\n### 2. `tool_Search Events`\n- **Returns:** Events matching a keyword/topic in name or description (e.g., \"AI\", \"startup\", \"networking\").\n- **When to call:** User mentions a specific interest or vibe. Extract the core keyword (1-2 words max).\n- **Parameter:** Single keyword or short phrase.\n\n### 3. `get_my_registrations`\n- **Returns:** User's current registrations with eventid, eventname, date, time, location, gmapslink.\n- **When to call:** User asks \"what am I registered for\", \"my schedule\", or before registering to check time conflicts.\n\n### 4. `register_for_event`\n- **Parameters:** `eventid` (integer).\n- **Returns:** JSON with `success` (true/false), `errorcode` (EVENTFULL | ALREADYREGISTERED | EVENTNOTFOUND), event details (location, gmapslink, date, time, food counter, sponsor).\n- **When to call:** ONLY after explicit user confirmation. Never call without confirmation.\n- **Critical:** Phone number is in context—never ask for it. Never ask user for event IDs—you look them up from prior tool outputs.\n\n### 5. `unregister_from_event`\n- **Parameters:** `eventid` (integer).\n- **Returns:** JSON with `success`, `errorcode` (TOOLATETOCANCEL | NOTREGISTERED | EVENTNOTFOUND), cutoff info.\n- **When to call:** User wants to cancel/unregister from an event.\n\n### 6. `get_my_profile`\n- **Returns:** User's hotel name, room number, gmapslink, coordinator name/phone.\n- **When to call:** User asks \"where is my room\", \"who is my coordinator\", or hotel/logistics queries.\n\n### 7. `get_food_locations`\n- **Returns:** Food counter locations with sponsor info and hours.\n- **When to call:** User asks about food, meals, cafeteria, dining, or where to eat.\n\n---\n\n## CONVERSATION BEHAVIOR\n\n### First Message (Greeting)\n- **If user is new (no chat history):** Welcome warmly in 1 sentence use get_my_profile for name and welcome using name, state what you can do (events, schedule, food, hotel), then ask ONE intent-capture question like \"what's the vibe today?\" or \"looking for something specific or just exploring?\"\n- **If returning user:** Acknowledge them briefly, then respond to their query directly.\n\n### Intent Router (How to Decide What to Do)\n\n#### **A. DISCOVERY MODE (event personalization — max 2-4 back-and-forth)**\nTrigger: User is bored, unsure, says \"idk what to do\", \"suggest something\", etc.\n\nFlow:\n1. Ask 1 sharp question (vibe, time window, solo vs group, learning vs networking).\n2. Based on reply, ask 1 more question if needed (max 2 questions total).\n3. Call `tool_Search Events` (if specific topic/vibe) or `tool_get_events` (if general).\n4. Recommend 2-4 events with brief \"why it matches\" (using only event descriptions).\n5. Wait for user to pick one, then move to registration flow.\n\n**Stop asking questions if:**\n- User says \"just show me everything\" → call `tool_get_events` immediately.\n- User mentions a clear intent (register, show schedule, food) → switch mode.\n\n#### **B. DIRECT ACTION MODE (no discovery questions)**\nTrigger: User gives explicit command.\n\nExamples:\n- \"Show all events\" → call `tool_get_events`, list events, done.\n- \"What am I registered for\" → call `get_my_registrations`, show schedule, done.\n- \"Register me for [event name]\" → move to registration flow (see below).\n- \"Where's food\" → call `get_food_locations`, show options, done.\n- \"Where's my room\" → call `get_my_profile`, share hotel info, done.\n\n## SHOW ALL EVENTS (TODAY) — PRESENTATION RULE\n\nTrigger phrases (examples): \"show all events\", \"what's happening\", \"events today\", \"schedule\", \"lineup\", \"browse\".\n\n1) Call `tool_get_events` immediately.\n2) Present events as clean bullet points (scan-friendly):\n   - Format per event: `• <Event Name> — <Time> — <1 sentence from description>`\n   - Keep the description to ONE sentence only (no extra fluff).\n   - Do NOT show event IDs anywhere in `replytext`.\n   - If there are too many events, show the top 8–12 (earliest first) and ask if they want \"more\" or a filtered vibe.\n3) After the list, end with ONE question that offers help selecting:\n   - Ask if they want help picking based on vibe/goal/time window.\n   - Keep it friend-like, Gen Z, clean slang only, 0–2 emojis only if they add meaning.\n\nIf `tool_get_events` returns nothing:\n- Say there’s nothing scheduled right now today and invite them to check back later (no invented events).\n\nAction:\n- Always set `action.type` to `\"none\"` and `action.eventid` to `null` for this flow.\n\n#### **C. REGISTRATION FLOW**\n1. User says \"register me for [event name]\".\n2. If event name is ambiguous or multiple matches:\n   - Call `tool_get_events` or `tool_Search Events` to find matches.\n   - List matches and ask: \"do you mean [Event A at 2pm] or [Event B at 5pm]?\"\n   - Wait for user to clarify.\n3. Once you have the exact event:\n   - Call `get_my_registrations` to check for time conflicts.\n   - If conflict exists, warn user: \"you're already registered for [X] at that time, still wanna register?\"\n   - If no conflict, confirm: \"[Event name] at [time], [location] — can I register you?\"\n4. Wait for user confirmation (\"yes\", \"sure\", \"register me\", etc.).\n5. Once confirmed:\n   - Extract `eventid` from prior tool output.\n   - Call `register_for_event` with that `eventid`.\n   - Return `action: {type: \"register\", eventid: <id>}`.\n6. Interpret result:\n   - `success: true` → confirm with full details (location, map, time, food counter, sponsor).\n   - `errorcode: EVENTFULL` → apologize, suggest similar events using `tool_Search Events`.\n   - `errorcode: ALREADYREGISTERED` → tell user they're already in.\n   - `errorcode: EVENTNOTFOUND` → call `tool_get_events` again to find correct event.\n\nCRITICAL: When user confirms registration, you MUST:\n1. Call registerforevent(eventid) tool  \n2. Wait for the tool response\n3. Only then write replytext based on tool result\n\nNEVER say \"locked you in\" unless registerforevent returned success:true.\n\n**Critical rules:**\n- NEVER call `register_for_event` without explicit user confirmation.\n- NEVER ask user for event IDs—you look them up.\n- NEVER show raw event IDs in `replytext`—use event names.\n- Phone number is in context—never ask for it.\n\n#### **D. UNREGISTRATION FLOW**\n1. User says \"cancel [event]\" or \"unregister from [event]\".\n2. Call `get_myregistrations` to confirm they're registered.\n3. Identify which event to cancel (ask for clarification if multiple).\n4. Call `unregister_from_event` with `eventid`.\n5. Return `action: {type: \"unregister\", eventid: <id>}`.\n6. Interpret result:\n   - `success: true` → confirm cancellation.\n   - `errorcode: TOOLATETOCANCEL` → explain 10-minute cutoff, show `minutes until start`.\n   - `errorcode: NOTREGISTERED` → tell user they weren't registered.\n   - `errorcode: EVENTNOTFOUND` → clarify event name.\n\n---\n\n## ERROR HANDLING\n\n### Tool returns no results:\n- `tool_get_events` → \"No events happening right now. Check back later!\"\n- `tool_Search Events` → \"Nothing matches that vibe. Wanna see all events?\"\n- `get_my_registrations` → \"You're not registered for anything yet.\"\n- `get_my_profile` → \"I don't have your profile details.\"\n\n### Ambiguous user query:\n- Ask ONE clarifying question.\n- Suggest likely interpretation: \"Did you mean X or Y?\"\n\n### Off-topic queries (not events/food/hotel):\n- Politely refuse: \"I'm here for conclave events, food, hotel. How can I help with that?\"\n\n---\n\n## TONE & STYLE\n\n- **Voice:** modern, youth-friendly, Gen Z and natural, friend-like. Short punchy sentences. Vary sentence structure. No corporate jargon.\n- **Slang:**Avoid being overly ‘Gen Z’ or trying too hard. Keep slang light . No profanity, no sexual slang, no insults. Mirror user tone if edgy but keep it clean.\n- **Emojis:** 0-2 per message, only when they add meaning (not forced decoration). Prefer none if the message works without them.\n- **Length:** 2-5 sentences for chat. Event lists can be longer (bullet format).\n- **Examples of good tone:**\n  - \"bet, registering you for [Event]\"\n  - \"nah that event's full rn, try [X] instead?\"\n  - \"you're already in for that one\"\n  - \"vibes are looking good for [Event], wanna go?\"\n\n---\n\n## FINAL CHECKLIST (before every response)\n\n1. Is my JSON valid? (no trailing commas, proper quotes, correct types)\n2. Is `replytext` clean, and helpful?\n3. Did I use the right tool for this query?\n4. Did I check for conflicts before registering? (`get_my_registrations`)\n5. Did I confirm with user before calling `register_for_event`?\n6. Did I interpret tool errors correctly? (errorcode handling)\n7. Is `action.type` correct? (`\"none\"` unless explicit register/unregister)\n8. Is `eventid` an integer (not string, not null) when registering/unregistering?\n9. Did I NEVER ask user for event IDs? (I look them up from tool outputs)\n10. Did I NEVER show raw event IDs in `replytext`? (Use event names only)\n\n---\n\n## CRITICAL RULES (never break these)\n\n1. NEVER invent event names, dates, times, or IDs. Only use data from tools.\n2. NEVER ask user for event IDs. You look them up from tool responses (`tool_get_events`, `tool_Search Events`).\n3. NEVER show raw event IDs in `replytext`. Use event names.\n4. ALWAYS call `get_my_registrations` before registering to check for time conflicts.\n5. ALWAYS confirm with user before calling `register_for_event`: \"[Event] at [time], [location] — can I register you?\"\n6. Phone number is in context—you never need to ask for it. Tools auto-use it.\n7. Keep `replytext` concise. Long event lists are OK, but prose should be brief.\n8. If query is off-topic (not events/food/hotel), steer back: \"I'm here for conclave stuff—events, food, hotel.\"\n9. Vary your language. Don't repeat phrases like \"Great!\" or \"Let me...\" every message.\n10. You ONLY surface today's events (date = CURRENT_DATE). If user asks about past/future days, explain this clearly.\n\n---\n\n## OUTPUT REMINDER\n\nReturn ONLY the JSON object. No other text. No markdown. No code blocks. No explanations.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -448,
        368
      ],
      "id": "eb9b4b2e-873f-4396-832d-ffa3592e1bdc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "id": "134f1fdb-195f-4f6b-b834-206693d51b1f",
      "name": "Trigger: 8 AM Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2112,
        1312
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT phone, name FROM users ORDER BY phone;",
        "options": {}
      },
      "id": "c25c0179-1867-40ac-a452-e7fcbdd07ffc",
      "name": "Get All Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1840,
        1136
      ],
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get events from Node 2\nconst eventsNode = $items('Get Todays Events');\nconst events = eventsNode.map(item => item.json);\n\n// Get users from Node 3\nconst usersNode = $items('Get All Users'); \nconst users = usersNode.map(item => item.json);\n\nconst notifications = [];\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const user of users) {\n  // Randomly select 3-4 event IDs for this user\n  const numEvents = Math.floor(Math.random() * 2) + 3; // 3 or 4\n  const shuffled = events.sort(() => 0.5 - Math.random());\n  const selectedEventIds = shuffled.slice(0, numEvents).map(e => e.id);\n  \n  notifications.push({\n    phone: user.phone,\n    event_id: null,  // Hype is not tied to single event\n    template: 'HYPE_MORNING',\n    payload: JSON.stringify({\n      user_name: user.name,\n      event_ids: selectedEventIds  // ← Store only IDs\n    }),\n    scheduled_at: today + ' 08:00:00',\n    status: 'pending'\n  });\n}\n\nreturn notifications.map(n => ({ json: n }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        1280
      ],
      "id": "00eabd4a-48a0-4b56-930a-af62006aac3d",
      "name": "Build Hype Notifications"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id\nFROM events\nWHERE date = CURRENT_DATE\n  AND cancelled = false\nORDER BY RANDOM()\nLIMIT 200;  -- Reasonable sample for 4000 users\n",
        "options": {}
      },
      "id": "741c2e8c-b4f0-4524-8df1-f3e2c059c6ba",
      "name": "Get Todays Events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1856,
        1456
      ],
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "notifications",
          "mode": "list",
          "cachedResultName": "notifications"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $json.phone }}",
            "channel": "'whatsapp'",
            "template": "={{ $json.template }}",
            "payload": "={{ $json.payload }}",
            "scheduled_at": "={{ $json.scheduled_at }}",
            "status": "={{ $json.status }}",
            "event_id": "={{ $json.event_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "template",
              "displayName": "template",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_at",
              "displayName": "scheduled_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event_id",
              "displayName": "event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "claimed_at",
              "displayName": "claimed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "worker_id",
              "displayName": "worker_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "243d9a2b-bffd-4d5b-a696-8b2869b00e01",
      "name": "Insert Hype Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1280,
        1280
      ],
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1104,
        1808
      ],
      "id": "9a04ab7b-f84b-4ef6-904f-c0a36da4cc42",
      "name": "Notification worker"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM claim_due_notifications('n8n_worker_1', 50);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -624,
        1808
      ],
      "id": "cc388552-63bc-4e9d-a827-b923c5c3247a",
      "name": "Claim Due Notification",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.template }}",
                    "rightValue": "HYPE_MORNING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "222360f7-dd78-47d4-b3d9-e152b51c5ade"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d13b239-b158-4506-a97c-2454a2be4023",
                    "leftValue": "={{ $json.template }}",
                    "rightValue": "REMINDER_",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dbf2a45f-082d-4e30-a242-4af95b3704d6",
                    "leftValue": "={{ $json.template }}",
                    "rightValue": "FOOD_",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -448,
        1776
      ],
      "id": "9ced69d1-e9b4-43f0-a5a0-d6ab6f3ee1a5",
      "name": "Route by template"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Force reset with explicit commit\nBEGIN;\nUPDATE notifications SET status = 'pending' WHERE id IN (3,4,5,7,8,15,16,17,18,19);\nCOMMIT;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -864,
        1808
      ],
      "id": "cb9cadb4-dce7-46e2-82c4-bf33fb8519d5",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get notifications from Set node\nconst notifications = $items('Attach Notification Context');\n\n// Get events from Postgres node  \nconst allEvents = $items('Fetch Events for hype');\n\n// Build a map of events by ID for fast lookup\nconst eventMap = {};\nfor (const eventItem of allEvents) {\n  const event = eventItem.json;\n  if (!eventMap[event.id]) {\n    eventMap[event.id] = event;\n  }\n}\n\n// Build results array\nconst results = [];\n\nfor (const notifItem of notifications) {\n  const notif = notifItem.json;\n  const userName = notif.user_name;\n  const userPhone = notif.phone;\n  const notificationId = notif.notification_id;\n  const eventIds = notif.event_ids;\n  \n  // Get events in the ORDER specified by event_ids (preserves randomization)\n  const orderedEvents = [];\n  for (const eventId of eventIds) {\n    if (eventMap[eventId]) {\n      orderedEvents.push(eventMap[eventId]);\n    }\n  }\n  \n  if (orderedEvents.length === 0) {\n    continue;\n  }\n  \n  // Format events for AI\n  const eventDetails = orderedEvents.map(e => \n    `Event: ${e.name}\\nDescription: ${e.description}`\n  ).join('\\n\\n---\\n\\n');\n  \n  results.push({\n    user_name: userName,\n    phone: userPhone,\n    notification_id: notificationId,\n    event_details: eventDetails,\n    event_count: orderedEvents.length\n  });\n}\n\nreturn results.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        1520
      ],
      "id": "1a1aa3b2-aae7-4c49-9cc3-9d0717ea7745",
      "name": "Data for AI"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT id, name, time, description\nFROM events\nWHERE id IN (\n  SELECT jsonb_array_elements_text($1::jsonb)::int\n)\n  AND cancelled = false\nORDER BY time;\n",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.event_ids) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        1360
      ],
      "id": "5ded76d9-33b7-4b06-b6fe-51ee3fc13763",
      "name": "Fetch Events for hype",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75cf12c3-4f39-4cb6-a8e0-740a11a95d5d",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "bae31f2c-6fcb-44f9-ae05-6cacb375c79e",
              "name": "user_name",
              "value": "={{ $json.payload.user_name }}",
              "type": "string"
            },
            {
              "id": "6b0cc767-3499-40cd-9d88-1bf43e40b3e1",
              "name": "notification_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "828b4f40-af94-44f9-91ab-7563fce2e553",
              "name": "event_ids",
              "value": "={{ $json.payload.event_ids }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        1520
      ],
      "id": "6b0a6755-b755-41b3-9206-29de41c89472",
      "name": "Attach Notification Context"
    },
    {
      "parameters": {
        "jsCode": "// Get all notifications\nconst notifications = $items('Attach Notification Context');\n\n// Collect all unique event IDs across all notifications\nconst uniqueEventIds = new Set();\n\nfor (const notifItem of notifications) {\n  const eventIds = notifItem.json.event_ids;\n  eventIds.forEach(id => uniqueEventIds.add(id));\n}\n\n// Convert to array\nconst eventIdsArray = Array.from(uniqueEventIds);\n\n// Return as single item for Postgres to query once\nreturn [{\n  json: {\n    event_ids: eventIdsArray,\n    // Also pass through notifications for next step\n    _notifications: notifications.map(item => item.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        1360
      ],
      "id": "0925df75-0f12-4ec6-bc0f-4ba746c034c5",
      "name": "Extract Unique Event IDs"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a youth event hype specialist writing WhatsApp morning messages for JITO Youth's 3-day conference. Your audience is teenagers and young adults (16-25 years).\n\nOBJECTIVE:\nGenerate an exciting, energetic morning message that makes recipients eager to attend today's events.\n\nTONE & STYLE:\n- Enthusiastic and upbeat (like a friend hyping up the day)\n- Use 2-3 relevant emojis (not excessive)\n- Teen-friendly language (avoid corporate/formal tone)\n- Keep it concise: 50-80 words maximum\n- Focus on FOMO (fear of missing out) and excitement\n\nSTRUCTURE:\n1. Personalized greeting with user's name\n2. Brief exciting hook about today's events (highlight what makes them cool/unique)\n3. Closing line suggesting there are more events to explore (be creative, don't just say \"and more\")\n\nWHAT TO AVOID:\n- Don't just describe events - SELL the experience\n- Don't use formal language like \"We are pleased to announce\"\n- Don't write long paragraphs\n\nOUTPUT FORMAT:\nPlain text WhatsApp message (no markdown formatting)\n\nImportant - Always end message with letting user know that there are many more events and you can provide them."
            },
            {
              "content": "=User Name: {{ $json.user_name }}\n\nToday's Events:\n{{ $json.event_details }}\n\nGenerate a morning hype message for this user that makes them excited to attend.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 200,
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        800,
        1520
      ],
      "id": "fd552237-3db1-4a96-8786-58570a974c89",
      "name": "Generate Hype Message",
      "credentials": {
        "openAiApi": {
          "id": "KiSSYToArySdfoIX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get AI outputs\nconst aiOutputs = $items('Generate Hype Message');\n\n// Get original data (has phone, notification_id)\nconst originalData = $items('Data for AI');\n\n// Merge them together\nconst results = [];\n\nfor (let i = 0; i < aiOutputs.length; i++) {\n  const aiOutput = aiOutputs[i].json;\n  const original = originalData[i].json;\n  \n  // Extract the actual message text from AI response\n  const message = aiOutput.output[0].content[0].text;\n  \n  results.push({\n    phone: original.phone,\n    notification_id: original.notification_id,\n    user_name: original.user_name,\n    message: message\n  });\n}\n\nreturn results.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        1520
      ],
      "id": "5c439f80-5223-445f-a563-66f434e9a89d",
      "name": "Extract and merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  n.id as notification_id,\n  n.phone,\n  n.template,\n  n.payload,\n  e.id as event_id,\n  e.name as event_name,\n  e.description,\n  e.agenda,\n  e.date,\n  e.time,\n  e.location,\n  e.gmaps_link,\n  e.contact_person,\n  e.contact_phone\nFROM notifications n\nJOIN events e ON n.event_id = e.id\nWHERE n.id IN ($1);\n",
        "options": {
          "queryReplacement": "={{ $items().map(item => item.json.id).join(',') }}\n"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        1760
      ],
      "id": "ed4ba489-c7e9-483d-a371-9f28107d4225",
      "name": "Fetch Event Details for Reminder",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all reminders with full event data\nconst reminders = $items();\nconst results = [];\n\nfor (const item of reminders) {\n  const data = item.json;\n  const template = data.template;\n  const userName = data.payload.user_name || 'there'; // Fallback if no name\n  \n  // Different AI instructions based on reminder type\n  let aiGoal = '';\n  let tone = '';\n  \n  if (template === 'REMINDER_6H') {\n    aiGoal = 'There is 6 hr left before event, Get the user excited and help them prepare. Mention prep tips, interesting facts about the topic/speaker that build anticipation or a mini game kinda things that you can play with user related to event, Optional: Pose a simple teaser question related to the event theme that makes them curious.';\n    tone = 'Knowledgeable friend sharing insider tips. Conversational, not formal. Excited but not pushy.';\n  } \n  else if (template === 'REMINDER_1H') {\n    aiGoal = 'There is 1 hr left before event, Create urgency through value, not panic. Hook: Lead with the most exclusive/unique aspect (from web research or agenda). Body: Emphasize scarcity or timeliness - what makes RIGHT NOW special. Make them feel missing this would be a genuine loss.';\n    tone = 'Energetic hype-person, but credible. FOMO through specificity, not exclamation marks. Friendly pressure.';\n  } \n  else if (template === 'REMINDER_10MIN') {\n    aiGoal = 'There is 10mins left before event, Activate immediate action. Hook: Sharp, urgent opener (no fluff). Body: 2-3 rapid-fire action items (leave now, grab X, remember Y).speed matters more. One sentence of motivation at end.';\n    tone = 'Supportive coach before game time. Short sentences. Urgent but encouraging.';\n  }\n  \n  results.push({\n    notification_id: data.notification_id,\n    phone: data.phone,\n    user_name: userName,\n    template: template,\n    event_name: data.event_name,\n    event_description: data.description,\n    event_agenda: data.agenda || 'Not specified',\n    time: data.time,\n    location: data.location,\n    gmaps_link: data.gmaps_link,\n    contact_person: data.contact_person,\n    ai_goal: aiGoal,\n    ai_tone: tone\n  });\n}\n\nreturn results.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        1760
      ],
      "id": "4a51b471-4c01-4070-af3d-2f7a48eb5f75",
      "name": "Prepare Reminder Context"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "content": "={{\n`CONTEXT:\nUser: ${$json.user_name}\nReminder Type: ${$json.template}\n\nEVENT DETAILS:\nName: ${$json.event_name}\nTime: ${$json.time}\nDescription: ${$json.event_description}\nAgenda: ${$json.event_agenda}\n\nBEHAVIOR FOR THIS MESSAGE:\nGoal: ${$json.ai_goal}\nTone: ${$json.ai_tone}\n\nTASK:\n1. Search the web for compelling, recent information about this event's topic, speakers, or related trends\n2. Craft a ${$json.template} reminder that makes ${$json.user_name} feel excited and prepared\n3. Follow the MESSAGE STRUCTURE from your instructions\n4. Keep total length: 60-80 words `\n}}\n"
            }
          ]
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium",
            "country": "IN"
          }
        },
        "options": {
          "instructions": "You are an expert event engagement writer crafting WhatsApp reminders that make users genuinely excited to attend. Every message must feel personal, valuable, and impossible to ignore.\n\nCORE PRINCIPLES:\n- Write like a knowledgeable friend, not a corporate bot\n- Lead with intrigue or value, not generic \"reminder\" language\n- Make every word count - no fluff or filler phrases\n- Build genuine FOMO through specificity. \n- Build genuine Hype. \n- make small games/activity which grabs user attention, and doesnt need much efforts.\n\nWEB SEARCH USAGE:\n- Search for: Recent news about speakers, trending topics in event's field, viral moments related to theme. \n- Find: Impressive credentials, surprising facts, timely relevance\n- DON'T search for: Generic event info, basic definitions\n- Use findings naturally - weave into narrative, don't just list facts\n\nMESSAGE STRUCTURE:\n1. Hook (8-12 words): Intriguing fact, question, or statement that grabs attention. This is important. \n2. Body (35-45 words): Mix of event value + web research insights + preparation tips\n\nTONE CALIBRATION:\n- Adjust energy based on user message's \"AI Goal\" and \"Tone\" fields\n- Use 1-2 emojis max (relevant to content, not decoration)\n- Write in short, punchy sentences when urgent; longer when informative\n\nWHAT NEVER TO DO:\n- Start with \"Hey [Name], reminder that...\"\n- Over-promise (\"life-changing\", \"once in a lifetime\")\n- Write paragraphs - use line breaks for readability\n- Add emoji clusters (❗❗🔥🔥)\n\nOUTPUT FORMAT:\nPlain text for WhatsApp (no markdown, no asterisks for bold, no numbered lists)\n",
          "maxTokens": 200,
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        480,
        1760
      ],
      "id": "d93a6477-cf3b-49db-bd66-747fbb1e9dc6",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "KiSSYToArySdfoIX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();// Get AI outputs\nconst aiOutputs = $items('Message a model');\n\n// Get original data (has location and gmaps_link)\nconst originalData = $items('Prepare Reminder Context');\n\nconst results = [];\n\nfor (let i = 0; i < aiOutputs.length; i++) {\n  const aiOutput = aiOutputs[i].json;\n  const original = originalData[i].json;\n  \n  // Extract AI-generated message\n  const aiMessage = aiOutput.output?.[0]?.content?.[0]?.text || \n                    aiOutput.message?.content || \n                    aiOutput.text ||\n                    'Message generation failed';\n  \n  // Build location block\n  const locationBlock = `\\n\\n📍 ${original.location}\\n🗺️ ${original.gmaps_link}`;\n  \n  // Combine AI message + location\n  const finalMessage = aiMessage.trim() + locationBlock;\n  \n  results.push({\n    phone: original.phone,\n    notification_id: original.notification_id,\n    template: original.template,\n    user_name: original.user_name,\n    event_name: original.event_name,\n    message: finalMessage\n  });\n}\n\nreturn results.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        1760
      ],
      "id": "163ad6ef-8494-47f1-a005-eaa6024f499c",
      "name": "Extract Reminder Message"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE notifications\nSET status = 'sent',\n    sent_at = NOW(),\n    whatsapp_message_id = $2\nWHERE id = $1\nRETURNING id, phone, template, status;\n",
        "options": {
          "queryReplacement": "={{ [$json.notification_id] }}, {{ $json.messages[0].id }}\n"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1584,
        1520
      ],
      "id": "d7bdead3-b25d-493c-9c95-c70439e03167",
      "name": "Mark sent",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "932911253232771",
        "recipientPhoneNumber": "+91XXXXXXXXXX",
        "textBody": "=hi",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1360,
        1520
      ],
      "id": "7125815e-4f68-4826-9860-46bea9c1a391",
      "name": "Send hype message",
      "webhookId": "4de85a0d-e09f-42b2-a1fb-81d9945fc235",
      "credentials": {
        "whatsAppApi": {
          "id": "zvrBvgJE3Ql7YHFw",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handle Meta webhook verification (GET request)\nif ($json.query && $json.query['hub.verify_token']) {\n  const verifyToken = $json.query['hub.verify_token'];\n  const challenge = $json.query['hub.challenge'];\n  \n  if (verifyToken === 'jito_verification_token_123') {\n    return {\n      json: {\n        webhook_type: 'verification',\n        challenge: challenge\n      }\n    };\n  } else {\n    throw new Error('Invalid verify token');\n  }\n}\n\n// Parse the body\nconst body = $json.body || $json;\nconst entry = body.entry?.[0];\nconst change = entry?.changes?.[0];\n\n// Check if it's an INCOMING MESSAGE\nconst messageData = change?.value?.messages?.[0];\nif (messageData) {\n  return {\n    json: {\n      webhook_type: 'incoming_message',\n      phone: '+' + messageData.from,\n      message: messageData.text?.body || '',\n      message_id: messageData.id\n    }\n  };\n}\n\n// Check if it's a DELIVERY STATUS\nconst status = change?.value?.statuses?.[0];\nif (status) {\n  return {\n    json: {\n      webhook_type: 'delivery_status',\n      whatsapp_message_id: status.id,\n      delivery_status: status.status,\n      timestamp: status.timestamp\n    }\n  };\n}\n\nthrow new Error(\"Unknown webhook format\");\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        896
      ],
      "id": "98a9ea00-5b6d-44d7-8714-e5549686d863",
      "name": "Parse wa status"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE notifications \nSET status = 'delivered'\nWHERE whatsapp_message_id = $1 \n  AND status = 'sent'\nRETURNING id, phone, template;\n",
        "options": {
          "queryReplacement": "={{ $json.whatsapp_message_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2576,
        880
      ],
      "id": "a7433f71-e59c-4213-8147-eefc7a7a6fac",
      "name": "Update Delivery Status",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "932911253232771",
        "recipientPhoneNumber": "+91XXXXXXXXXX",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1024,
        1760
      ],
      "id": "573f8f77-433b-4bca-8721-714b46718ecc",
      "name": "Send Reminder",
      "webhookId": "e9f23284-821c-4116-97fa-213e5614d026",
      "credentials": {
        "whatsAppApi": {
          "id": "zvrBvgJE3Ql7YHFw",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE notifications\nSET status = 'sent',\n    sent_at = NOW(),\n    whatsapp_message_id = $2\nWHERE id = $1\nRETURNING id, phone, template, status;\n",
        "options": {
          "queryReplacement": "={{ $json.notification_id }}, {{ $json.messages[0].id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        1760
      ],
      "id": "76089168-4916-4927-88b2-46bf7c2fe4a6",
      "name": "Mark reminder sent",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "932911253232771",
        "recipientPhoneNumber": "={{ String($('If').item.json.phone || '').replace(/\\D/g, '') }}",
        "textBody": "={{ $items('Update chat context1')[0].json.aiReply }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1744,
        576
      ],
      "id": "82f6c8ea-96f5-457d-8c0c-46a1aa133500",
      "name": "Send Reply message",
      "webhookId": "9eb46805-7487-451d-9dd2-64c995935799",
      "credentials": {
        "whatsAppApi": {
          "id": "zvrBvgJE3Ql7YHFw",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2550517f-074b-4a8c-841e-c872a5279154",
                    "leftValue": "={{ $json.webhook_type }}",
                    "rightValue": "delivery_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "92c82f4f-4296-4a89-a014-eef93a14d6fb",
                    "leftValue": "={{ $json.webhook_type }}",
                    "rightValue": "incoming_message",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2304,
        896
      ],
      "id": "3459aca0-deef-45cb-9523-6c544b6b5a43",
      "name": "route webhook type"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-delivery",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1840,
        896
      ],
      "id": "5dc383ff-17e7-4b4a-a8e2-b3c81c38e016",
      "name": "WA delivery Webhook",
      "webhookId": "61236113-8b42-4524-9b13-b1533c9b2d08"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "register",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6c06baf8-d397-47db-870a-d3b297c3bdd6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "register"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e3089374-c61a-4aee-aea2-81f8e79cd6fc",
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "unregister",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unregister"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad8180ba-12f6-4977-adf2-bec0520d998f",
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "none",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "none"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        160,
        352
      ],
      "id": "7c3ce898-ac5f-4b05-aed7-bdd05f9c4548",
      "name": "Action Type"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get DB result\nconst dbResult = $json.result;  // Assuming function returns JSON\n\n// Get original AI reply\nconst originalReply = $('Validate prerequisites').item.json.originalReply;\nconst eventId = $json.eventId;\n\nlet finalMessage;\nlet shouldSend = true;\n\nif (dbResult.success === true) {\n  // Success - use AI's reply (it was accurate)\n  finalMessage = originalReply;\n} else {\n  // Error - override with truth\n  const errorCode = dbResult.errorcode;\n  \n  if (errorCode === 'ALREADY_REGISTERED') {\n    finalMessage = `You're already registered for that event! Check your schedule with \"show my registrations\"`;\n  } else if (errorCode === 'EVENT_FULL') {\n    finalMessage = `Sorry, that event is full 😢 Want me to suggest similar ones?`;\n  } else if (errorCode === 'EVENT_NOT_FOUND') {\n    finalMessage = `Can't find that event anymore. Let me refresh the schedule...`;\n  } else {\n    finalMessage = `Registration failed (${errorCode}). Try again or ask for help.`;\n  }\n}\n\nreturn {\n  json: {\n    message: finalMessage,\n    success: dbResult.success,\n    eventId,\n    phone: $('Validate prerequisites').item.json.phone\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        32
      ],
      "id": "6becf163-e0fc-40f8-915a-b1ef7706e985",
      "name": "Parse Register DB"
    },
    {
      "parameters": {
        "jsCode": "// Validate we have what we need\nconst phone = $('Set Auth Context').first().json.authenticated_phone;\nconst eventId = $json.event_id;\nconst aiReply = $json.aiReply;\n\nif (!phone || !eventId) {\n  throw new Error(`Missing data: phone=${phone}, eventId=${eventId}`);\n}\n\nreturn {\n  json: {\n    phone,\n    eventId,\n    originalReply: aiReply  // Save for later\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        32
      ],
      "id": "0f48c432-8666-4866-9ddd-2d1f41acbaf8",
      "name": "Validate prerequisites"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "932911253232771",
        "recipientPhoneNumber": "={{ String($('If').item.json.phone || '').replace(/\\D/g, '') }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1200,
        32
      ],
      "id": "2dc41939-52f8-40b3-b849-d038c6dcc35a",
      "name": "Send Registratio message1",
      "webhookId": "9eb46805-7487-451d-9dd2-64c995935799",
      "credentials": {
        "whatsAppApi": {
          "id": "zvrBvgJE3Ql7YHFw",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get required data\nconst phone =$('Set Auth Context').first().json.authenticated_phone;\nconst eventId = $json.event_id;\nconst aiReply = $json.aiReply;\n\n// Validation\nif (!phone) {\n  throw new Error('Missing authenticated phone number');\n}\n\nif (!eventId) {\n  throw new Error('Missing event ID for unregistration');\n}\n\nreturn {\n  json: {\n    phone,\n    eventId,\n    originalReply: aiReply\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        272
      ],
      "id": "62055ab4-56db-4497-9e96-a30e068bcb30",
      "name": "Validate Unregister Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT register_for_event($1, $2) AS result;\n",
        "options": {
          "queryReplacement": "={{ $json.phone }}, {{ $json.eventId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        32
      ],
      "id": "8d311ad0-2800-4d5f-9606-c623412af2fa",
      "name": "register for event",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get DB result - the function returns a single JSON column\nconst dbResult = $json.unregister_from_event;\n\n// Get context\nconst originalReply = $('Validate Unregister Data').item.json.originalReply;\nconst eventId = $('Validate Unregister Data').item.json.eventId;\nconst phone = $('Validate Unregister Data').item.json.phone;\n\nlet finalMessage;\n\nif (dbResult.success === true) {\n  // Successfully unregistered\n  finalMessage = `You've been unregistered from ${dbResult.event_name}. Your spot is now free for someone else!`;\n  \n} else {\n  // Handle errors based on error_code\n  const errorCode = dbResult.error_code;\n  \n  if (errorCode === 'TOO_LATE_TO_CANCEL') {\n    const minutesLeft = dbResult.minutes_until_start;\n    finalMessage = `Too late to cancel ${dbResult.event_name} 😬 It starts in ${minutesLeft} minutes (cutoff is ${dbResult.cutoff_minutes} min before). You can still skip it, but your spot stays reserved.`;\n    \n  } else if (errorCode === 'NOT_REGISTERED') {\n    finalMessage = `You weren't registered for ${dbResult.event_name} anyway, so nothing to cancel!`;\n    \n  } else if (errorCode === 'EVENT_NOT_FOUND') {\n    finalMessage = `Can't find that event anymore. It might have been cancelled or removed.`;\n    \n  } else {\n    // Unknown error\n    finalMessage = `Couldn't unregister you (error: ${errorCode}). Try again or ask for help.`;\n  }\n}\n\nreturn {\n  json: {\n    message: finalMessage,\n    success: dbResult.success,\n    errorCode: dbResult.error_code || null,\n    eventName: dbResult.event_name || null,\n    eventId,\n    phone\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        272
      ],
      "id": "d144f816-ada5-48f9-ba9d-e4190a6568ba",
      "name": "Build Unregister Response"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "932911253232771",
        "recipientPhoneNumber": "={{ String($('If').item.json.phone || '').replace(/\\D/g, '') }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1200,
        272
      ],
      "id": "704a557d-f3f3-4efa-a01c-2a30e1a1caef",
      "name": "send Unregister Message",
      "webhookId": "9eb46805-7487-451d-9dd2-64c995935799",
      "credentials": {
        "whatsAppApi": {
          "id": "zvrBvgJE3Ql7YHFw",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM unregister_from_event($1::text, $2::int)\n",
        "options": {
          "queryReplacement": "={{ $json.phone }}, {{ $json.eventId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        272
      ],
      "id": "383f3ded-6ca8-4b5b-84bb-5f8455db4b70",
      "name": "Call unregister from event",
      "credentials": {
        "postgres": {
          "id": "TuWS7LTe9l0P4mI9",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "WA delivery Webhook": [
      {
        "json": {
          "headers": {
            "host": "overdefiant-lexicographic-genevie.ngrok-free.dev",
            "user-agent": "facebookexternalua",
            "content-length": "482",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json",
            "x-forwarded-for": "2a03:2880:10ff:58::",
            "x-forwarded-host": "overdefiant-lexicographic-genevie.ngrok-free.dev",
            "x-forwarded-proto": "https",
            "x-hub-signature": "sha1=48427acfe2a92e447319e209e2e5382afe532c04",
            "x-hub-signature-256": "sha256=aa8693387f66f0c717be30cd995dfa2b845c9e44eef95dcbc581b754e70b787f"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "whatsapp_business_account",
            "entry": [
              {
                "id": "673831458994428",
                "changes": [
                  {
                    "value": {
                      "messaging_product": "whatsapp",
                      "metadata": {
                        "display_phone_number": "15551465857",
                        "phone_number_id": "932911253232771"
                      },
                      "contacts": [
                        {
                          "profile": {
                            "name": "WhiteVulpes"
                          },
                          "wa_id": "917010013430"
                        }
                      ],
                      "messages": [
                        {
                          "from": "917010013430",
                          "id": "wamid.HBgMOTE3MDEwMDEzNDMwFQIAEhgUM0ExNDdGQ0Y3QjY2NURDNEE3MjAA",
                          "timestamp": "1765978400",
                          "text": {
                            "body": "Yes lock me k"
                          },
                          "type": "text"
                        }
                      ]
                    },
                    "field": "messages"
                  }
                ]
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook/whatsapp-delivery",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Update chat context1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save chat history1": {
      "main": [
        [
          {
            "node": "Send Reply message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get_my_registrations": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_food_locations": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "unregister_from_event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_my_profile": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Messages": {
      "main": [
        [
          {
            "node": "Set Auth Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reply": {
      "main": [
        [
          {
            "node": "Action Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Build LLM Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tool_get_events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_Search Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "convo summarization.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "save chat history1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convo summarization.": {
      "main": [
        [
          {
            "node": "apply new summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "apply new summary": {
      "main": [
        [
          {
            "node": "save chat history1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Auth Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: 8 AM Daily": {
      "main": [
        []
      ]
    },
    "Get All Users": {
      "main": [
        [
          {
            "node": "Build Hype Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Todays Events": {
      "main": [
        [
          {
            "node": "Build Hype Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Hype Notifications": {
      "main": [
        [
          {
            "node": "Insert Hype Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Hype Notification": {
      "main": [
        []
      ]
    },
    "Notification worker": {
      "main": [
        []
      ]
    },
    "Claim Due Notification": {
      "main": [
        [
          {
            "node": "Route by template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by template": {
      "main": [
        [
          {
            "node": "Attach Notification Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Event Details for Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Claim Due Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Events for hype": {
      "main": [
        [
          {
            "node": "Data for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Notification Context": {
      "main": [
        [
          {
            "node": "Data for AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Unique Event IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Unique Event IDs": {
      "main": [
        [
          {
            "node": "Fetch Events for hype",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data for AI": {
      "main": [
        [
          {
            "node": "Generate Hype Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Hype Message": {
      "main": [
        [
          {
            "node": "Extract and merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract and merge": {
      "main": [
        [
          {
            "node": "Send hype message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Event Details for Reminder": {
      "main": [
        [
          {
            "node": "Prepare Reminder Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reminder Context": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Extract Reminder Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send hype message": {
      "main": [
        [
          {
            "node": "Mark sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse wa status": {
      "main": [
        [
          {
            "node": "route webhook type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reminder Message": {
      "main": [
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder": {
      "main": [
        [
          {
            "node": "Mark reminder sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "route webhook type": {
      "main": [
        [
          {
            "node": "Update Delivery Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA delivery Webhook": {
      "main": [
        [
          {
            "node": "Parse wa status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Type": {
      "main": [
        [
          {
            "node": "Validate prerequisites",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Unregister Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update chat context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate prerequisites": {
      "main": [
        [
          {
            "node": "register for event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Register DB": {
      "main": [
        [
          {
            "node": "Send Registratio message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "register for event": {
      "main": [
        [
          {
            "node": "Parse Register DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Unregister Data": {
      "main": [
        [
          {
            "node": "Call unregister from event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Unregister Response": {
      "main": [
        [
          {
            "node": "send Unregister Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call unregister from event": {
      "main": [
        [
          {
            "node": "Build Unregister Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "3a3bb546-0460-42b9-a51d-313237f50719",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10f6bb66100ccce88208db5bfd19802bb4a04fad8e29b443afb77e31616a7475"
  },
  "id": "7LH6w2TjQBIFYcCE",
  "tags": []
}